<<<<<<< HEAD
.cardCityContainer {
  margin: 30px;
  padding: 0px;
  width: 300px;
  min-height: 350px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fbfbfb;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
}

/* .image {
    width: 290px;
    height: 240px;
  } */

.cardCityImage {
  /* width: 100px; */
  margin: 10px;
  padding: 10px;
}

.cardCityContainer img {
  width: 95%;
}

.cardCityPopularity {
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.cardCityPopularity img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.cardCityInfo {
  width: 90%;
}

.cardCityName {
  margin: 0;
  margin-top: 10px;
}

.cardCityButton {
  font-size: 15px;
  text-decoration: none;
  padding: 5px;
  width: 200px;
  height: 28px;
  border: 3px solid #ff795b;
  border-radius: 10px;
  transition: all 0.2s;
}

.cardCityButton:hover {
  background-color: #ff795b;
  color: white;
}
=======
.cityCardContainer{
  margin: 30px;
  padding: 0px;
  width: 300px;
  height: 400px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #fbfbfb;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);

}
.cityCardImage{
  width: 100%;
  height: auto;
}
.img{
  display: flex; 
  align-items: center;
  gap: .5rem;
}
.img img{
  width: 20px;
  height: 20px;
}
>>>>>>> 2b9907031be73447ace28d2a5d77c8beff95826e
