<<<<<<< HEAD
.activityCardContainer {
  margin: 30px;
  padding: 0px;
  width: 300px;
  min-height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.31);
  /* border-radius: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fbfbfb;
  box-shadow: 11px 20px 8px rgba(0, 0, 0, 0.33);
}

.activityCardImage {
  width: 270px;
  height: 200px;
}

.activityCardButton {
  font-size: 15px;
  text-decoration: none;
  padding: 5px;
  width: 200px;
  height: 28px;
  border: 3px solid #ff795b;
  border-radius: 10px;
  transition: all 0.2s;
}

.activityCardButton:hover {
  background-color: #ff795b;
  color: white;
}

.activityCardInfo {
  width: 90%;
}
=======
/* .activityCardContainer{

} */
.img{
    margin: 20px;
    width: 33%;
}
.img img{
    margin: 20px;
    width: 50%;
}
>>>>>>> 2b9907031be73447ace28d2a5d77c8beff95826e
