.body{
  background-color: rgb(92, 93, 99);
  color: rgb(255, 255, 255);
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.button {
  margin-right: 15px;
}

.titleBooking {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  margin-top: 20px;
}
.title1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
}
.modal {
  display: flex;
  margin-top: 15px;
  justify-content: left;
  gap: 1rem;
}

.stripe {
  border: 2px solid black;
  margin-top: 20px;
  background-color: rgb(218, 215, 215);
}
