.navBarFooterContainer {
    background-color: #ffffff;
    width: 100%;
    height: 200px;
}
.navBarFooterContainer2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.containerLinks {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.containerLinks .links {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

.navBarLogo {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
  }
  .navBarLogo h2,
  .navBarLogo h4 {
    margin: 0;
  }
  
  .navBarLogo img {
    width: 80px;
    padding: 2px;
  }