<<<<<<< HEAD
.activityContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.activityContainerCards {
  display: flex;
}
=======
.activityContainer{
    background-color: rgb(134, 134, 201);
    display: flex;
    width: 50%;
}
>>>>>>> 2b9907031be73447ace28d2a5d77c8beff95826e
